<div class="album py-5">
        <div class="container">

<h3 style="margin-bottom: 2.5rem">Thiese are the <span  class="text-success" style="font-weight:700">{{artistData.name}}</span> albums.</h3>

          <div class="row">
{{#each artistData}}

<div class="col-md-4">
      <div class="card mb-4 box-shadow bg-light">
        <a href="{{external_urls}}">
        <img class="card-img-top" data-src="" alt="{{name}}" style="height: 225px; width: 100%; display: block;" src="{{images.[0].url}}" data-holder-rendered="true">
        </a>
        <div class="card-body">
            <h5 class="card-title" style="font-weight:bolder">{{name}}</h5>
        </div>    
        <span>external_urls: {{external_urls}}</span><br>
        {{#external_urls}}
                      <li class="list-group-item genre-list bg-light">{{this.url}}</li>
        {{/external_urls}}<br>
        <span>href: {{href}}</span><br>
        <span>id: {{id}}</span><br>
        <span>images: {{images}}</span><br>
        <span>images.0: {{images.[0].url}}</span><br>
        {{#images}}
                      <li class="list-group-item genre-list bg-light">{{this.url}}</li>
        {{/images}}<br>
        <span>name: {{name}}</span><br>
        <span>release_date: {{release_date}}</span><br>
        <span>release_date_precision: {{release_date_precision}}</span><br>
        <span>total_tracks: {{total_tracks}}</span><br>
        <span>type: {{type}}</span><br>
        <span>uri: {{uri}}</span><br>
        <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                  <a href="/albums/tracks/{{id}}" class="btn btn-success view-album">View tracks</a>
                  </div>
                </div>
            </div>
        </div>  
{{/each}}
          </div>

        </div>
      </div>
