
<h1>artist-search-results</h1>

<h3>This is the search result for {{searchQuery}}</h3>


<!--<p>
{{#each searchData}}
    {{images.[0].url}}</p>
<img src="{{images.[0].url}}" alt="">
{{/each}}
-->
<section class="search-results">

{{#each searchData}}

<div class="single-result">

<div class="single-result-poster">
    <img src="{{images.[0].url}}" alt="">
</div>

<div class="single-result-info">
<h2 style="padding-top: 10px; font-size: 25px; font-weight:800; color:red">{{name}}</h2>
<span>{{external_urls.spotify}}</span>
<br>
<span>{{followers.total}}</span>
<br>
<span>{{href}}</span>
<br>
<span>{{id}}</span>
<br>
<span>{{name}}</span>
<br>
<span>{{popularity}}</span>
<br>
<span>{{type}}</span>
<br>
<span>{{uri}}</span>
<br>
<span>{{#genres}}
<li>{{this}}</li>
{{/genres}}
</span>

</div>

</div>

{{/each}}

</section>